<!-- templates/about.tmpl -->
<h1 class="h2">About RecipeBox</h1>

<p>RecipeBox Description</p>

<p>Thanks to the following:</p>

<ul>
<li><a href="github.com/codegangsta/negroni">negroni</a></li>
<li><a href="github.com/gorilla/pat">pat</a></li>
<li><a href="github.com/jmoiron/sqlx">sqlx</a></li>
<li><a href="github.com/mattn/go-sqlite3">go-sqlite3</a></li>
<li><a href="github.com/unrolled/render">render</a></li>
<li><a href="github.com/johnotander/pixyll">Pixyll theme</a></li>
</ul>