<!-- templates/about.tmpl -->
<h1 class="h2">About</h1>

<p>
  Developed as a collaboration between the Peace Corps and
  Harvard Developers for Development, RecipeBox seeks to collect, 
  organize, and share the collected recipes
  from all of our volunteers.
</p>

<!-- <p>Thanks to the following:</p>

<ul>
<li><a href="github.com/codegangsta/negroni">negroni</a></li>
<li><a href="github.com/gorilla/pat">pat</a></li>
<li><a href="github.com/jmoiron/sqlx">sqlx</a></li>
<li><a href="github.com/mattn/go-sqlite3">go-sqlite3</a></li>
<li><a href="github.com/unrolled/render">render</a></li>
<li><a href="github.com/johnotander/pixyll">Pixyll theme</a></li>
</ul> -->