<div class="center">
<h1 id="404"> {{.error_code}} </h1>

<p> Sorry, your page wasn't found.</p>

<p> {{.error_msg}} </p>

<div class="mt3">
  <a href="/" class="button button-blue button-big">Home</a>
  <a href="/contact/" class="button button-blue button-big">Contact</a>
</div>
</div>