<div class="center">


<!-- <h1 class="h1" style="font-size:300%; margin-top: 2.75rem"> -->
<h1 class="h1" style="font-size:300%;">
  <img src="logo.png" alt="The Peace Corps" style="width: auto; max-width:10%">
  RecipeBox</h1>
<!-- <p class="small">The Peace Corps<p> -->

<p> {{.nRecipes}} recipes crowdsourced from {{.nYears}} years, 
  over {{.nCountries}} countries, and {{.nVolunteers}} volunteers. </p>
<p class="small">See the recipes we&#8217ve assimilated from around the globe</p>


</div>