<!-- templates/recipes/recipe.tmpl -->
{{if .NewRecipe}}
  <h1 class="h2">New Recipe</h1>
  <form action="/recipes/new/save/" method="POST">
{{else}}
  <h1 class="h2">Editing Recipe</h1>
  <form action="/recipes/{{.ID}}/save/" method="POST">
{{end}}

  <h5>Recipe Name</h5>
  <div>
    <input type="text" name="name" required value={{printf "%s" .Name}} >
  </div>

  <h5>Cuisine</h5>
  <div>
    <input type="number" name="cuisine" value={{printf "%d" .Cuisine}} required>
  </div>

  <h5>Mealtype</h5>
  <div>
    {{range $meal, $exists := ParseMeal .Mealtype}}
      <input type="checkbox" name="mealtype" 
      value={{printf "%s" $meal}} {{if $exists}} checked {{end}} >
      {{printf "%s" $meal}}<br>
    {{end}}
  </div>

  <h5>Season</h5>
    {{range $s, $exists := ParseSeason .Season}}
      <input type="checkbox" name="season" 
      value={{printf "%s" $s}} {{if $exists}} checked {{end}} >
      {{printf "%s" $s}}<br>
    {{end}}

  <h5>Description</h5>
  <div>
    <textarea name="description" rows="10" cols="80" required>{{printf "%s" .Description}}</textarea>
  </div>

  <h5>Ingredients</h5>
  <div>Please put semicolons between each ingredient.</div>
  <div>
    <textarea name="ingredients" rows="10" cols="80" required>{{printf "%s" .Ingredientlist}}</textarea>
  </div>

  <h5>Instructions<h5>
  <div>
    <textarea name="instructions" rows="20" cols="80" required>{{printf "%s" .Instructions}}</textarea>
  </div>
<div><input type="submit" value="Save"></div>
</form>