<!-- templates/recipes/recipe.tmpl -->
<h1> {{.Name}} </h1>
<span class="post-meta small"> {{.Cuisine}} | {{.Mealtype}} | {{.Season}} </span>
<p> {{.Description}} </p>
<h2>Ingredients</h2>
<p> {{.Ingredientlist}} </p>
<h2>Instructions</h2>
<p> {{.Instructions}} </p>