<!-- templates/recipes/recipe.tmpl -->
<h1 class="h1"> {{.Name}} </h1>
<span class="post-meta small"> 
  Cuisine: {{.Cuisine}} | Meals:
  {{range $meal, $exists := ParseMeal .Mealtype}}
    {{if $exists}}
      {{printf "%s" $meal}}
    {{end}}
  {{end}} | Seasons: 
  {{range $s, $exists := ParseSeason .Season}}
    {{if $exists}}
      {{printf "%s" $s}}
    {{end}}
  {{end}}
  </span>
<p> {{.Description}} </p>
<h2 class="h2">Ingredients</h2>
  <p>
  {{range $index, $element := ParseIngredients .Ingredientlist}} 
    {{if ne $index 0}}<br>{{end}}
    {{printf "%s" $element}}
  {{end}}
  </p>
<h2>Instructions</h2>
<p> {{.Instructions}} </p>